
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 16px;
}


.jumbotron {
    position: fixed; /*Fixed ya que queremos que la posición sea en relación al navegador*/
    /*top: 0;*/ /*El valor 0 indica que va a quedar arriba de todo*/
    bottom: 0px;
    left: 0; /*Para que el menu se ubique siempre en la parte izquierda de la pantalla*/
    margin-bottom: 0px;
    padding: 0;
    overflow-y: scroll;
    opacity: 0.8;
    width: 25vh;
    height: 30vh;
    font-size: 1.5vh;
}

.buttonFijo {
    width: 49%;
    height: 5vh;
    font-size: 1.5vh;
    padding: 0;
    line-height: 1.5vh;
    border-radius: 0;
}

body {
    background-color: gray;
}