@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/index.js"></script>
}
<div class="jumbotron" >
    <p id="consola"></p>
</div>
<div class="row">
    <div style="text-align:center;">
        <canvas id="myCanvas" width="3100" height="3800"></canvas>
    </div>
</div>