@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        var ancho = 5;
        
        function inicializarMapa() {
            var filas = [];
            dimension = 3000;
            for (var i = 0; i < dimension; ++i) {
                var fila = [];
                for (var j = 0; j < dimension; ++j) {
                    fila.push(0);
                }
                filas.push(fila);
            }

            return filas;
        }

        function drawCanvas(ctx, mapa) {
            var imageObj = new Image();

            imageObj.onload = function () {
                ctx.drawImage(imageObj, 0, 0,   imageObj.width,   imageObj.height);
                
                for (var i = 0; i < mapa.length; i++) {
                    var fila = mapa[i];
                    for (var j = 0; j < fila.length; j++) {
                        ctx.lineWidth = 0.3;
                        if (fila[j] != 0) {
                            primero = false;
                            ctx.fillStyle = "blue";
                            ctx.fillRect(j * ancho, i * ancho, ancho, ancho);
                        } else {
                            ctx.rect(j * ancho, i * ancho, ancho, ancho);
                        }
                    }
                }
            };

            imageObj.src = 'http://localhost:56745/Img/Mapa.png';
        }

        function drawCelda(ctx, e, mapa) {
            console.log('click: ' + e.offsetX + '/' + e.offsetY);
            var x = e.offsetX - e.offsetX % ancho;
            var y = e.offsetY - e.offsetY % ancho;

            if (event.which === 1) {
                ctx.lineWidth = 0.3;
                ctx.fillStyle = "blue";
                ctx.fillRect(x, y, ancho, ancho);
                mapa[y][x] = 1;
            }
            else if (event.which === 3) {
                ctx.lineWidth = 0.3;
                ctx.fillStyle = "red";
                ctx.fillRect(x, y, ancho, ancho);
                mapa[y][x] = 0;
            }
        }

        $(document).ready(function () {
            var mapa = inicializarMapa();
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');
            drawCanvas(ctx, mapa);


            var mouseIsDown = false;

            canvas.onmousedown = function (e) {
                mouseIsDown = true;
                drawCelda(ctx, e, mapa);
            }
            canvas.onmouseup = function (e) {
                mouseIsDown = false;
                return false;
            }

            canvas.onmousemove = function (e) {
                if (!mouseIsDown) return;
                drawCelda(ctx, e, mapa);

                return false;
            }
            document.addEventListener('contextmenu', event => event.preventDefault());
        });

        
    </script>
}

<div class="row">
    <canvas id="myCanvas" width="3000" height="3000"></canvas>
</div>